name: CI/CD Pipeline (GHCR)

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lowercase Repository Name
        run: |
          echo "REPO_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Login เข้า GHCR บนเครื่อง Server
            echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            # 2. เตรียมชื่อ Image (แปลงเป็นตัวเล็กเหมือนกัน)
            REPO_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
            FULL_IMAGE="ghcr.io/$REPO_LOWER:latest"

            # 3. ดึง Image และรัน
            docker pull $FULL_IMAGE

            docker stop next-blog-container || true
            docker rm next-blog-container || true

            docker run -d \
              --name next-blog-container \
              -p 3000:3000 \
              --restart always \
              $FULL_IMAGE
